*{
    padding:0;
    margin:0;
}
.menu-18{
    margin-top:-100px;
    width:100%;
    height:50px;
    background-color: #000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.back a{
    padding: 10px 20px;
}

.back a:hover{
    background-color:#ccc;
}

.list li a:hover{
    background: #ccc;
}

@media (max-width:740px){
    .list{
        display:none;
    }
    .logo{
        margin-right: 141px;
    }

    .img-girl1 img {
        margin: 10px 0;
        height: 479px;
    }
}