
.logo > a > img {
    height: calc(100px / 2);
    opacity: 0.5;
    overflow: hide;
    border-radius: 50%;
    margin-left: 174px;
}



@media (max-width:740px){
    .list{
        display:none;
    }
    .logo > a > img{
        margin-left:0;
    }

}